<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- Servlet for routing user between Login and CreateUser -->
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<servlet-class>com.cognixia.jump.controller.MainServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Login Servlet -->
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.LoginServlet</servlet-class>
  </servlet>
  <!-- Create User Servlet -->
  <servlet>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<display-name>CreateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountServlet</servlet-name>
  	<display-name>AccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositServlet</servlet-name>
  	<display-name>DepositServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.DepositServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<display-name>WithdrawServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.WithdrawServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferServlet</servlet-name>
  	<display-name>TransferServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.TransferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoryServlet</servlet-name>
  	<display-name>HistoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.controller.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountServlet</servlet-name>
  	<url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositServlet</servlet-name>
  	<url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferServlet</servlet-name>
  	<url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoryServlet</servlet-name>
  	<url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
</web-app>
